<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ek's PHP Browser</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="toolbar-container">
        <form class="toolbar" action="/" method="get">
            <div class="form-group link-input">
                <label for="#link">Link:</label>
                <input id="link" type="text" name="link" value="{{ current_link }}"/>
            </div>

            <div class="form-group width-input">
                <label for="#link">Page width (px):</label>
                <input type="number" name="width" value="{{ current_width }}"/>
            </div>

            <button type="submit">Go</button>
        </form>
    </div>

    <div class="container">
        <img src="{{ image }}" usemap="#areas"/>
        <map name="areas">
            {% for area in areas %}
                <area
                    shape="rect"
                    coords="{{ area.x1 }},{{ area.y1 }},{{ area.x2 }},{{ area.y2 }}"
                    alt="{{ area.alt }}"
                    href="{{ area.href }}"
                />
            {% endfor %}
        </map>
    </div>
</body>
</html>